h1, a, p, label, input {
 font-family: "Arial";
 color: black;
}
.head_img{
    object-fit: cover;
    width: 100%;
}
input, label {
    display:block;
}

label {
    font-weight: bold;
}
.label_div {
    display: inline-block;
    margin-right:20px;
    width: 250px
}
input{
    text-align: center;
    font-size: 20px;
}
input[type=text]  , input[type=date]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
  }
input[type=text]:focus , input[type=date]:focus {
    border: 3px solid rgb(0, 153, 255);
    background-color: rgb(211, 211, 211);
}
body {
    margin:0;
    text-align: center;
}
#title {
    color: white;
    margin: 13px;
    font-weight: bold;
}
#not_navbar {
    padding:60px;
    margin-top:30px;
    height:1500px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

li a:hover:not(.active) {
    background-color: rgb(0, 75, 126);
}

[isActive=true] {
    background-color: rgb(0, 153, 255);
}
/* Dropdown Button */
button {
    background-color: rgb(0, 153, 255);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
button:focus:not(:hover) {
    background-color: rgb(0, 153, 255);
}

/* Dropdown button on hover & focus */
button:hover, button:focus {
    background-color: rgb(0, 75, 126);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content, .dropdown-content2, .dropdown-content3 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    max-height: 300px;
    overflow: auto;
}

/* Links inside the dropdown */
.dropdown-content a , .dropdown-content2 a, .dropdown-content3 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
#not_navbar {
    text-align: center;
}
#navbar {
    z-index: 1;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover , .dropdown-content2 a:hover,.dropdown-content3 a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
.arrivals , .departures{
    text-align: center;
}
.instance{
    font-size: 16;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    border: 1px solid rgb(0, 201, 251);
    max-width: 1500px;
}
input[type="radio"]{
    float: left;
    width: 20px;
    margin-top: 6px;
    padding: 0;
}